extends ../layout

block content
  .row
    .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
      div
        h1(style="text-align:center") Personnel
          span.left-pad.sm-text.as-link.add-new Add New
  .row.hidden.add-form
    .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
      h2 Add New
      form(method='POST' action='/range/addperson')
        div.form-group
          label.sr-only(for='name') Name:
          input#name.form-control(type=text, placeholder='name' required name='name')
        div.form-group
          label.sr-only(for='serno') Serial Number:
          input#serno.form-control(type=text, placeholder='serial number' required name='serno')
        div.form-group
          label.sr-only(for='email') Email:
          input#name.form-control(type=email, placeholder='email address' required name='email')
        div.form-group
          label.sr-only(for='rank') Rank:
          input#rank.form-control(type=text, placeholder='rank' name='rank')
        div.form-group
          label.sr-only(for='addr') Name:
          input#addr.form-control(type=text, placeholder='address' name='addr')
        button.btn.btn-primary(type='submit') Add
    
  .row.hidden.edit
    .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
      h2 Add New
      form(method='POST' action='/range/editperson')
        div.form-group
          label.sr-only(for='name') Name:
          input#name.form-control(type=text, placeholder='name' required name='name')
        div.form-group
          label.sr-only(for='serno') Serial Number:
          input#serno.form-control(type=text, placeholder='serial number' required name='serno')
        div.form-group
          label.sr-only(for='email') Email:
          input#name.form-control(type=email, placeholder='email address' required name='email')
        div.form-group
          label.sr-only(for='rank') Rank:
          input#rank.form-control(type=text, placeholder='rank' name='rank')
        div.form-group
          label.sr-only(for='addr') Name:
          input#addr.form-control(type=text, placeholder='address' name='addr')
        button.btn.btn-primary(type='submit') Update
    
  hr(style="background:#F87431; border:0; height:7px")
  .row
    .col-md-8.col-md-offset-2.col-sm-12
      table.table.table-striped(style="width=100%")
        tr
          th Name
          th Serial No
          th Rank
          th Email
          th Address
          th Edit
        each person, ndx in persons
          tr
            td: a.hover-hand(class='person-' + ndx)=person.name
            td= person.serno
            td= person.rank
            td= person.email
            td= person.address
            td
              button.btn.btn-sm.btn-warning.editbtn Edit

block js
  script(src="/static/javascripts/personnel.js")

